body {
  color: #070707;
  font-family: 'Gilroy Light Regular';
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'Gilroy ExtraBold Regular';
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1445px) {
  .container {
    width: 1445px;
  }
}

.section-padding {
  padding-left: 250px;
  padding-right: 250px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #828282;
}

.nav-item {
  font-weight: 700;
  font-family: 'Gilroy ExtraBold Regular';
  font-size: 18px;
  line-height: 22px;
}

.hero {
  margin-bottom: 100px;
}

.hero-text-thumb {
  display: flex;
  align-items: center;
}

.hero-title {
  font-size: 47px;
  line-height: 59px;
  width: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 150px;
}

.hero-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.hero-img-thumb {
  display: block;
  max-width: 940px;
  height: 387px;
}

.hero-img-thumb > img {
  display: block;
  object-fit: cover;
  object-position: 0px -50px;
  width: 100%;
  height: 100%;
}

.section {
  background-color: #f6f6f6;
  padding: 120px 230px 120px 230px;
  text-align: center;
}

.about-me-title {
  font-size: 34px;
  line-height: 42px;

  margin-bottom: 18px;
}

.about-me-description {
  font-size: 18px;
  line-height: 22px;
}

.about-me-description:nth-child(-n + 3) {
  margin-bottom: 18px;
}

.skills-title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
}

.skills-subtitle {
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.skills-subtitle-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.skills-subtitle-item {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  font-weight: 700;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.skills-subtitle-item > span {
  display: block;
  margin-bottom: 15px;
}

.skills-subtitle-item > .icon {
  margin-bottom: 15px;
}

.icon-star-black {
  fill: #070707;
}

.icon-star {
  fill: #e5e5e5;
}

.experience-title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experience-item {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  transition: transform 250ms linear;
}

.experience-item:hover,
.experience-item:focus {
  transform: scale(1.1);
}

.experience-item > a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #070707;
}

.thumb {
  width: 260px;
  display: block;
  height: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.thumb > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.experience-item-data {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}

.experience-item-title {
  font-size: 22px;
  font-family: 'Gilroy ExtraBold Regular';
  line-height: 22px;
  font-weight: 700;
  margin-top: 30px;
}

.experience-item-description {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
