html {
  scroll-behavior: smooth;
}

body {
  color: #070707;
  font-family: 'Gilroy Light Regular';
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'Gilroy ExtraBold Regular';
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1445px) {
  .container {
    width: 1445px;
  }
}

.section-padding {
  padding-left: 250px;
  padding-right: 250px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #828282;
}

.nav-item {
  font-weight: 700;
  font-family: 'Gilroy ExtraBold Regular';
  font-size: 18px;
  line-height: 22px;
}

.hero {
  margin-bottom: 100px;
}

.hero-text-thumb {
  display: flex;
  align-items: center;
}

.hero-title {
  font-size: 47px;
  line-height: 59px;
  width: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 150px;
}

.hero-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.hero-img-thumb {
  display: block;
  max-width: 940px;
  height: 387px;
}

.hero-img-thumb > img {
  display: block;
  object-fit: cover;
  object-position: 0px -50px;
  width: 100%;
  height: 100%;
}

.section {
  background-color: #f6f6f6;
  padding: 120px 230px 120px 230px;
  text-align: center;
}

.about-me-title {
  font-size: 34px;
  line-height: 42px;

  margin-bottom: 18px;
}

.about-me-description {
  font-size: 18px;
  line-height: 22px;
}

.about-me-description:nth-child(-n + 3) {
  margin-bottom: 18px;
}

.skills-title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
}

.skills-subtitle {
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.skills-subtitle-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.skills-subtitle-item {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  font-weight: 700;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.skills-subtitle-item > span {
  display: block;
  margin-bottom: 15px;
}

.skills-subtitle-item > .icon {
  margin-bottom: 15px;
}

.icon-star-black {
  fill: #070707;
}

.icon-star {
  fill: #e5e5e5;
}

.experience {
  margin-bottom: 50px;
}

.experience-title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experience-item {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.experience-item:hover,
.experience-item:focus {
  transform: scale(1.1);
}

.experience-item > a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #070707;
}

.thumb {
  width: 260px;
  display: block;
  height: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.thumb > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.experience-item-data {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}

.experience-item-title {
  font-size: 22px;
  font-family: 'Gilroy ExtraBold Regular';
  line-height: 22px;
  font-weight: 700;
  margin-top: 30px;
}

.experience-item-description {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio-title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  max-width: 700px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin: 20px;
  border-radius: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  transform: scale(1.1);
}

.portfolio-item > a {
  cursor: pointer;
}

.thumb-portfolio {
  width: 650px;
  display: block;
  height: 500px;
  text-align: center;
}

.thumb-portfolio > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.portfolio-title-item {
  text-align: center;
  text-decoration: underline;
  font-size: 22px;
  font-family: 'Gilroy ExtraBold Regular';
  line-height: 22px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

.education-title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.education-list {
  display: flex;
  justify-content: space-evenly;
}

.education-item {
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.education-thumb {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.education-thumb > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.education-name {
  font-size: 18px;
  font-family: 'Gilroy ExtraBold Regular';
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.education-spec {
  font-size: 16px;
  line-height: 17px;
  color: #828282;
  font-weight: 700;
  margin-bottom: 10px;
}

.education-date {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contacts {
  text-align: center;
  padding-bottom: 50px;
}

.contacts-title {
  font-family: 'Gilroy ExtraBold Regular';
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  padding-top: 114px;
  margin-bottom: 20px;
  color: #070707;
}

.contacts-description {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 30px;
}

.contacts > button {
  border: none;
  cursor: pointer;
  padding: 13px 30px 13px 30px;
  color: #ffffff;
  border-radius: 25px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  background-color: #070707;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts > button:hover,
.contacts > button:focus {
  transform: scale(1.1);
}

.footer {
  padding-bottom: 50px;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.foter-item {
  cursor: pointer;
}

.foter-item > .link {
  margin: 0px 20px 0px 20px;
}

.scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  background-color: #f5f5f5;
  color: #444;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  display: none;
  font-size: 30px;
  font-weight: bold;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scrollToTop:hover {
  background-color: #070707;
  color: white;
}

.back_to_top-show {
  display: block;
}

/* modal */

.modal-open {
  overflow: hidden;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.form-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #ffffff;
}

.form-title {
  margin-bottom: 22px;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  color: #000000;
}

.form-modal {
  max-width: 500px;
  text-align: center;
  padding: 20px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 10;
  border-radius: 10px;
  background-color: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form > .thumb {
  margin-bottom: 10px;
  width: auto;
  height: auto;
}

.label {
  font-size: 18px;
  line-height: 17px;
  color: #828282;
  font-weight: 700;

  display: block;
  margin-bottom: 10px;
}

.thumb > input,
.thumb > textarea {
  font-size: 18px;
  line-height: 17px;
  width: 100%;

  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #828282;
  border-radius: 10px;
}

.thumb > input::placeholder {
  font-size: 16px;
  line-height: 17px;
  color: #828282;
}

.submit-form {
  border: none;
  cursor: pointer;
  padding: 13px 30px 13px 30px;
  color: #ffffff;
  border-radius: 25px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  background-color: #070707;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form:hover,
.submit-form:focus {
  transform: scale(1.1);
}
